/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "fontastic";
  src: url("static/fonts/fontastic.eot");
  src: url("static/fonts/fontastic.eot?#iefix") format("embedded-opentype"), url("static/fonts/fontastic.woff") format("woff"), url("static/fonts/fontastic.ttf") format("truetype"), url("static/fonts/fontastic.svg#fontastic") format("svg");
  font-weight: normal;
  font-style: normal; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  font-family: 'Droid Sans', sans-serif;
  line-height: 1.4em;
  background: white;
  color: #444; }

h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: .75em 0; }

h3 {
  font-size: 1.17em;
  margin: .83em 0; }

h5 {
  font-size: .83em;
  margin: 1.5em 0; }

h6 {
  font-size: .75em;
  margin: 1.67em 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  line-height: 1.3em; }

p {
  line-height: 1.4em;
  margin-bottom: 1em; }

a {
  color: #4F9EE5;
  text-decoration: none;
  outline: none; }

a:hover {
  color: #54CC14; }

td {
  padding: 0.25em 0.5em; }

input, textarea {
  font-size: 1em;
  border: 1px solid #DDD;
  padding: 0.25em; }

button {
  display: inline-block;
  padding: 0.25em 0.75em;
  border: 0;
  background: #54CC14;
  color: white;
  font-size: 1em; }

.page-wrap {
  padding: 2em; }

.toolbar {
  background: #F4F4F4;
  padding: 1em;
  margin-bottom: 1.5em; }

.main-nav {
  background: #7d3800;
  color: #FFF;
  padding: 0 2em; }

.app-icon {
  color: inherit; }

.app-icon:before {
  content: 'b';
  font-family: 'fontastic';
  display: inline-block;
  font-size: 2.5em;
  padding-right: 0.5rem;
  vertical-align: middle;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg); }

.main-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  padding: 1em; }
  .main-nav .title {
    padding-top: 1em; }
  .main-nav .main-nav:first-child {
    margin-right: auto; }

.main-nav-link {
  padding: 1em 1em;
  color: inherit;
  font-size: 1em; }

.main-nav-link:hover {
  background: #54CC14;
  color: white; }

.main-nav-link.active {
  background: #4d5196; }

.title {
  font-family: 'Syncopate', sans-serif; }

body {
  background: #fce9dc; }

.tasks-ul {
  height: 35em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

nav h1 {
  display: inline-block; }
nav a {
  font-size: 2.3em;
  margin-left: 1em; }

.task-li {
  width: 14em;
  padding: 1em;
  margin: .5em 3em .5em .5em;
  border-radius: .2em;
  position: relative;
  background-color: #eef1ec;
  min-height: 3em; }

.task-title {
  font-size: 1.1em;
  position: absolute;
  top: 15px;
  left: 60%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  white-space: nowrap; }

.color-box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 28%;
  border-right: 1px solid black;
  background: url(http://p1.pichost.me/640/67/1913110.jpg); }
  .color-box button {
    display: block;
    margin: 0;
    height: 33.33%;
    width: 100%;
    cursor: pointer;
    font-size: .7em;
    border-radius: .1em;
    outline: none; }
  .color-box .active {
    margin-left: -15px;
    border-radius: .3em; }

.new-task-button {
  background: #4F9EE5; }

.doing-task-button {
  background: #FF9D40; }

.done-task-button {
  background: #CC5314; }

.date {
  font-size: .75em;
  font-weight: 600;
  position: absolute;
  bottom: 15px;
  left: 60%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%); }

.edit, .status {
  display: inline-block; }

.remove-button {
  float: right; }

.create-wrapper, .login-wrapper {
  width: 50%;
  position: relative; }

.login-wrapper {
  background-color: #0CBAE8;
  height: 100%; }

.user-partial {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  position: relative; }
  .user-partial input {
    height: 1.6em;
    padding: .5em;
    margin: .55em;
    display: block;
    border-radius: .3em; }
  .user-partial form {
    position: absolute;
    bottom: 60%;
    width: 60%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%); }
  .user-partial button {
    margin-top: 1em;
    width: 10em;
    position: absolute;
    height: 2.5em;
    border-radius: .2em;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%); }
