<nav class = "tasks-nav">
  <h1 class="task-header">Tasks</h1>
  <a class="add-task-button" href="#/tasks/new">+ Add New Task</a>
</nav>

<ul class="tasks-ul">
  <li class="task-li" ng-repeat="task in vm.tasks">
    <div class="color-box">
      <button ng-click="task.status = new" ng-class="{ active: task.status === new}" class="new-task-button">New</button>
      <button ng-click="status = doing" ng-class="{ active: task.status === doing}" class="doing-task-button">Doing</button>
      <button ng-click="status = done" ng-class="{ active: task.status === done}" class="done-task-button">Done</button>
    </div>
    <!-- <label class="checkbox-label"> -->
    <!-- <input type="checkbox" class="completed"> -->
    <!-- </label> -->

    <span class="task-title">
      {{task.description | ellipsis: 16}}
    </span>
    <br>
    <span class="date">
      {{task.due_date | date:'EEEE, MMM d'}}
    </span>
    <!-- <div class="status">{{task.status}}</div> -->

     <!-- <button class="edit">a</button> -->
  </li>
</ul>
