$background-color: #d1c5c5;
$secondary-color: #4F9EE5;
$button-color-new: rgba(80, 21, 9, .8);
$button-color-doing: rgba(255, 157, 64, .8);
$button-color-done: rgba(204, 83, 20, .8);



$bg-color: white;
$fg-color: #444;
$input-border-color: #DDD;
$alt-bg-color: #F4F4F4;

$bold-color: #E84E01;
$alt-bold-color: #4F9EE5;

$accent-color: #6067B0;
$accent-color-dark: #CC5314;
$alt-accent-bg: #501509;
$alt-accent-fg: white;
$alt-accent-bg-dark: #44B209;
