.root-content {
}

.page-wrap {
  // padding: 2em;
}

.toolbar {
  background: #F4F4F4;
  padding: 1em;
  margin-bottom: 1.5em;
}


.app-icon {
  color: inherit;
}

.app-icon:before {
  content: 'b';
  font-family: 'fontastic';
  display: inline-block;
  font-size: 2.5em;
  padding-right: 0.5rem;
  vertical-align: middle;
  transform: rotate(-10deg);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  // background: #7d3800;
  background: #352D08;
  color: #FFF;
  padding: 0 2em;


  .title {
    padding-top: 1em;
  }

  .main-nav:first-child {
  margin-right: auto;
  }
}


.main-nav-link {
  // display: inline-block;
  padding: 1em 1em;
  color: inherit;
  font-size: 1em;
}

.main-nav-link:hover {
  background: $alt-accent-bg;
  color: $alt-accent-fg;
}

.main-nav-link.active {
  background: #4d5196;
}

.title {
  font-family: 'Syncopate', sans-serif;
}
