$background-color: #fce9dc;
$secondary-color: #4F9EE5;
$button-color-new: #4F9EE5;
$button-color-doing: #FF9D40;
$button-color-done: #CC5314;

body {
  background: $background-color;
}

.tasks-wrapper {
  box-sizing: border-box;
  padding: 1em 2em 2em 2em;
  margin: 0 auto;
  width: 100%;
  // background: url(http://p1.pichost.me/i/54/1777610.jpg);
  background-color: #d1c5c5;
  background-size: cover;

  h3 {
    padding-bottom: .5em;
    margin: 0;
  }

  }

.add-task-button {
  color: white;
  margin-top: 3px;
}

.new-task-wrap {
  margin: 2em;
}

.tasks-nav {
  width: 100%;
  text-align: center;
  background-color: #41370A;
  padding: .3em 0;
}

.tasks-ul {
  width: 85%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
}

nav {
  h1 {
    display: inline-block;
    color: white;
    font-size: 1.3em;
    letter-spacing: .1em
  }

  a {
    font-size: 2.3em;
    float: right;
    margin-right: 2em;
  }

}

.task-li {
  width: 13em;
  height: 13em;
  border-radius: .2em;
  position: relative;
  background-color: #eef1ec;
  min-height: 3em;
  margin: .3em;
}

.task-title {
  font-size: 1.1em;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: .8em 0;
  color: white;
  // background-color: #063967;
  // background-color: yellow;
}


.color-box {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: url(http://cache.desktopnexus.com/thumbnails/1406631-bigthumbnail.jpg);


  button {
    height: 2rem;
    padding: 0;
    margin: 0;
    width: 32%;
    cursor: pointer;
    font-size: .7em;
    outline: none;
  }

  .active {
    //  margin-left: -15px;
    //  border: 2px solid yellow;
    //  border-radius: .3em;
  }
}

.new-task-button {
  background: $button-color-new;

}

.doing-task-button {
  background: $button-color-doing;
}

.done-task-button {
  background: $button-color-done;
}

.date {
  font-size: .75em;
  font-weight: 600;
  position: absolute;
  top: 5em;
  left: 50%;
  transform: translate(-50%);
}

.edit, .status {
  display: inline-block;
}

.remove-button {
  float: right;
  background: none;
  color: white;
  margin-top: -15px;
}

.todo {
  background-color: $button-color-new;
  }
.doing {
  background-color:$button-color-doing;
  }
.done {
  background-color:$button-color-done;
  }
