$background-color: #fce9dc;
$secondary-color: #4F9EE5;
$button-color-new: #4F9EE5;
$button-color-doing: #FF9D40;
$button-color-done: #CC5314;

body {
  background: $background-color;
}

.tasks-wrapper {
  padding: 1em 2em 2em 2em;
  margin: 0 auto;
  width: 100%;
  // background: url(http://p1.pichost.me/i/54/1777610.jpg);
  background-color: #d1c5c5;
  background-size: cover;

  h3 {
    padding-bottom: .5em;
    margin: 0;
  }

  }

.add-task-button {
  color: white;
  margin-top: 3px;
}

.new-task-wrap {
  margin: 2em;
}

.tasks-nav {
  width: 100%;
  text-align: center;
  background-color: #41370A;
  padding: .3em 0;
}

.tasks-ul {
  height: 75vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

nav {
  h1 {
    display: inline-block;
    color: white;
    font-size: 1.3em;
    letter-spacing: .1em
  }

  a {
    font-size: 2.3em;
    float: right;
    margin-right: 2em;
    margin-top: .2em;
  }

}

.task-li {
  // border: 1px solid black;
  width: 14em;
  padding: 1em;
  margin: .5em 3em .5em .5em;
  border-radius: .2em;
  position: relative;
  background-color: #eef1ec;
  min-height: 3em;
}

.task-title {
  font-size: 1.1em;
  position: absolute;
  top: 15px;
  left: 60%;
  transform: translate(-50%);
  white-space: nowrap;
}


.color-box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 28%;
  border-right: 1px solid black;
  background: url(http://cache.desktopnexus.com/thumbnails/1406631-bigthumbnail.jpg);


  button {
    display: block;
    margin: 0;
    height: 33.33%;
    width: 100%;
    cursor: pointer;
    font-size: .7em;
    // border: 1px solid black;
    border-radius: .1em;
    outline: none;
  }

  .active {
     margin-left: -15px;
    //  border: 2px solid yellow;
     border-radius: .3em;
  }
}

.new-task-button {
  display: inline-block;
  background: $button-color-new;

}

.doing-task-button {
  background: $button-color-doing;
}

.done-task-button {
  background: $button-color-done;
}

.date {
  font-size: .75em;
  font-weight: 600;
  position: absolute;
  bottom: 15px;
  left: 60%;
  transform: translate(-50%);
}

.edit, .status {
  display: inline-block;
}

.remove-button {
  float: right;
  background: none;
  color: black;
  margin-top: -35px;
  margin-right: -13px;
}

.new-task-create-button {
  background-color: none;
  color: brown;
}

// .edit {
//   background: none;
//   font-family: coaction;
// }
