.create-wrapper, .login-wrapper {
  // display: inline-block;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  position: relative;

  p {
    color: white;
    font-style: italic;
  }

  input {
    margin: .55em auto;
    height: 1.6em;
    padding: .5em;
    display: block;
    border-radius: .3em;
    // min-width: 80%;

  }

.user-form {
    position: relative;
    padding: 0em 3em;
    margin: 5em auto;
    max-width: 25%;
    min-height: 26em;
    border-radius: .3em;
    background-color: rgba(0,0,0,0.5);

}

  h2 {
    color: white;
  }

}

.create-wrapper {
  background: url(http://fc09.deviantart.net/fs70/i/2011/076/e/c/surreal_dark_background_by_mysticmorning-d3bv1so.jpg) no-repeat center center fixed;
  background-size: cover;
}


.login-wrapper {
    background: url(http://fc06.deviantart.net/fs71/i/2011/095/4/2/surreal_background_2_by_mysticmorning-d3db87i.jpg) no-repeat center center fixed;
    background-size: cover;
  }

.user-partial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.create-user-button  {
    width: 13em;
    position: absolute;
    height: 2.5em;
    border-radius: .2em;
    left: 50%;
    transform:translate(-50%);
    opacity: .7;
    background-color: #501509;
    bottom: 25px;
    cursor: pointer;
    background-color:rgba(204, 83, 20, 1)
  }

  .create-user-button:hover {
    background-color: #501509;

  }


@media (max-width: 725px)  {


  .create-wrapper, .login-wrapper {
    display: inline-block;
    padding: 0;

    button {
      display: block;

    }


  }

  .user-form {
    height: 100vh;
    max-width: 100%;
    min-width: 80%;
    margin: 0 auto !important;


    h2 {
      margin: 0;
      padding-top: 2.5em;
    }

  }





  .create-user-button {
    display: block;
    bottom: 0px;
    position: relative;
    margin-top: 1.5em;
  }

 .user-partial {
   display: inline-block;
   padding: 0;
   margin: 0;
 }


}
